name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: e2e-test (diff)
        id: diff
        uses: ./
        with:
          base: tests/fixtures/base
          head: tests/fixtures/head
          label: changed
      - uses: int128/comment-action@a20dbdebd79ab886a1e7a20d16bfa7dbaa732e5a # v1.33.0
        with:
          update-if-exists: replace
          update-if-exists-key: e2e-test-diff
          post: |
            ## e2e-test (diff)
            ${{ steps.diff.outputs.comment-body }}
      - run: test '${{ steps.diff.outputs.different }}' = 'true'

      - name: e2e-test (no-diff)
        id: no-diff
        uses: ./
        with:
          base: tests/fixtures/head
          head: tests/fixtures/head
          label: changed
      - uses: int128/comment-action@a20dbdebd79ab886a1e7a20d16bfa7dbaa732e5a # v1.33.0
        with:
          update-if-exists: replace
          update-if-exists-key: e2e-test-no-diff
          post: |
            ## e2e-test (no-diff)
            ${{ steps.no-diff.outputs.comment-body }}
      - run: test '${{ steps.no-diff.outputs.different }}' = 'false'
      - run: test '${{ steps.no-diff.outputs.comment-body }}' = ''

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm biome check --fix
      - uses: int128/update-generated-files-action@9f29a0254cdbb49f0682e439d44c1cf7f05db7bf # v2.63.0
