name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: e2e-test (diff)
        id: diff
        uses: ./
        with:
          base: tests/fixtures/base
          head: tests/fixtures/head
          label: changed
      - uses: int128/comment-action@66317511bc86c47bd51e03059040e8a460a167b8 # v1.52.0
        with:
          update-if-exists: replace
          update-if-exists-key: e2e-test-diff
          post: |
            ## e2e-test (diff)
            ${{ steps.diff.outputs.comment-body }}
      - run: test -n "$DIFF"
        env:
          DIFF: ${{ steps.diff.outputs.comment-body }}

      - name: e2e-test (no-diff)
        id: no-diff
        uses: ./
        with:
          base: tests/fixtures/head
          head: tests/fixtures/head
          label: changed
      - uses: int128/comment-action@66317511bc86c47bd51e03059040e8a460a167b8 # v1.52.0
        with:
          update-if-exists: replace
          update-if-exists-key: e2e-test-no-diff
          post: |
            ## e2e-test (no-diff)
            ${{ steps.no-diff.outputs.comment-body }}
      - run: test -z "$BODY"
        env:
          BODY: ${{ steps.no-diff.outputs.comment-body }}

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run check
      - uses: int128/update-generated-files-action@70576bbfb301e39070a73af05a40aa382a496038 # v2.79.0
