name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: e2e-test (diff)
        id: diff
        uses: ./
        with:
          base: tests/fixtures/base
          head: tests/fixtures/head
          label: changed
      - uses: int128/comment-action@2e7e2d8e385ee24454ea30ef135d5c5867011410 # v1.46.0
        with:
          update-if-exists: replace
          update-if-exists-key: e2e-test-diff
          post: |
            ## e2e-test (diff)
            ${{ steps.diff.outputs.comment-body }}
      - run: test -n "$DIFF"
        env:
          DIFF: ${{ steps.diff.outputs.comment-body }}

      - name: e2e-test (no-diff)
        id: no-diff
        uses: ./
        with:
          base: tests/fixtures/head
          head: tests/fixtures/head
          label: changed
      - uses: int128/comment-action@2e7e2d8e385ee24454ea30ef135d5c5867011410 # v1.46.0
        with:
          update-if-exists: replace
          update-if-exists-key: e2e-test-no-diff
          post: |
            ## e2e-test (no-diff)
            ${{ steps.no-diff.outputs.comment-body }}
      - run: test -z "$BODY"
        env:
          BODY: ${{ steps.no-diff.outputs.comment-body }}

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm biome check --fix
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2.67.0
